<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDx9je_WUoWtTNgtD4q8jEpnbLVpDuDyYs</string>
	<key>GCM_SENDER_ID</key>
	<string>810523850090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juliencoquet.lauzhackPolls</string>
	<key>PROJECT_ID</key>
	<string>lauzhackpolls</string>
	<key>STORAGE_BUCKET</key>
	<string>lauzhackpolls.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810523850090:ios:7ba10fd0c8ac806c73e113</string>
</dict>
</plist>