<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsqXT9VsDnxy8LXkWT1UxoeC-eX22l62M</string>
	<key>GCM_SENDER_ID</key>
	<string>449649067574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YMediaLabs.FirebaseAdsSubscriber</string>
	<key>PROJECT_ID</key>
	<string>lauzhack-polling-subscriber</string>
	<key>STORAGE_BUCKET</key>
	<string>lauzhack-polling-subscriber.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449649067574:ios:cdde01539c86117083fa97</string>
</dict>
</plist>